@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



/*==============================================
@Author: Alan Maher
@URL: https://scorptech.github.io/milestoneone/
Author E-mail: info@crossakiel.com
=================================================*/

body, html {
      margin: 0;
      padding: 0;
      text-align: center;
      }

.container-fluid {
      margin: 0;
      padding: 0;
      }


.col {
      padding-right: 0px;
      padding-left: 0px;
      }

.row {
    padding-right: 0px;
    padding-left: 0px;
    }


/* 
============================================================================================
This is the CSS control for the Top Bar 
============================================================================================
*/ 

.topbar .d-none {
    background-color: #525252; 
}

.topbar .col-sm-3 {
    display: inline-block;
    padding: 5px;
    width: 400px;
    color: #fff;
   }

/*.bg-light {
    background-color: #fff;*/
}   

.social-links {
    padding: 10px 0px 5px 0px;
    }

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     
}

.social-links li a i:hover {
    background: #ffcd00;
}


/* 
============================================================================================
This is the CSS control for the Nav Bar 
============================================================================================
*/ 

.navbar-light .navbar-nav .nav-link {
        color: #525252;
        font-weight: 500;
        font-family: "Roboto", sans-serif;
        padding: 20px;
}


/* 
============================================================================================
This is the CSS control for the Carousel 
============================================================================================
*/ 

.carousel-caption .innovate h1 {
    color: #ffcd00;
    font-weight: bold;
    text-align:center;
    font-size: 60px;
    }

.carousel-caption h5 {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

/*
============================================================================================
This is the CSS control for the "Request A Quote" button 
============================================================================================
*/ 

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 200px;
    }

.btn--yellow {
    color: black;
    background-color: #ffcd00;
    border-color: #ffcd00;
    }

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus,
.btn--yellow:active:focus {
    background-color: #edc938;
    border-color: #edc938;
    color: black;
    }

.btn-group-lg>.btn, .btn-lg {
    margin-top: 20px;
    }




/* 
============================================================================================
This is the CSS control for Who We Are 
============================================================================================
*/ 

.container-fluid .whoarewe {
    margin-top: 30px;
    }

.whoweare_image {
    padding: 20px 0 20px 0;     
    }

.container-fluid .whoarewe h6 {
    text-align: justify;
    padding: 0 30px 30px 30px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    }

.whoarewe .col-md-6 {
    padding: 5px 5px 20px 5px;
    margin-bottom: 20px;
    }

/* 
============================================================================================
This is the CSS control for Let Us Help You
============================================================================================
*/

.jumbotron {
    background-color: transparent;
    padding: 0;
    }

.jumbotron h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    }
    
.jumbotron h1 {
    color: #ffcd00;
    font-weight: bold;
    font-size: 60px;
    }

.workwithus {
    height: 50vh;
    background: url('../../assets/images/work-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    

/* 
============================================================================================
This is the CSS control for Banner Advert
============================================================================================
*/

.banner-advert {
    Background-color: #525252;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px;
    }
    

 
/*
============================================================================================
This is the CSS control for the Yellow Bar section 
============================================================================================
*/  
 

.yellowbar {
    background-color: #ffcd00;
    Padding: 10px; 
    }

.yellowbar .row {
   background-color: #ffcd00;
   color: #525252;
   }
 
.yellowbar p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 20px;
    } 
 
.yellowbar .img-fluid {
    max-width: 90%;
    height: auto;
    padding-right: 10px;
    margin-top: 20px;
    } 









/*
    
    * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
      }  
      
*/