/*==============================================
@Author: Alan Maher
@URL: https://scorptech.github.io/milestoneone/
Author E-mail: info@crossakiel.com
=================================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body, html {
      margin: 0;
      padding: 0;
      text-align: center;
      }

/* 
============================================================================================
This is the CSS control for the top bar 
============================================================================================
*/ 
.container-fluid {
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
    }

.col-sm-3 {
     padding-left: 0;
     padding-right: 0;
    }

.col-sm-3 p {
    margin-top: 17px;
}
    
.bg-light {
    background-color: #fff!important;
}   

.social-links {
    padding: 10px 0px 5px 0px;
    }

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
     
}

.social-links li a i:hover {
    background: #ffcd00;
}

#nav-details {
    padding: 0 40px 0 0 ;
    background-color: #525252;
    font-weight:bold;
    color: #fff;
} 

/* 
============================================================================================
This is the CSS control for the menu bar 
============================================================================================
*/ 

    
    li a h6 {
        color: #525252;
    }


    li .nav-item .mr-2:active {
        color: #ffcd00;
     }
    
    
    .navbar-nav li a h6:hover  {
        color: #ffcd00
     }
     
    .homeyellow {
       color: #ffcd00;
     } 
     
/* 
============================================================================================
This is for the showcase section  
============================================================================================
*/ 
 
.jumbotron-fluid {
    height: 100vh;

    background: url('../../assets/images/slider1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 
============================================================================================
This is for the Jumbotron section  
============================================================================================
*/ 

.jumbotron {
    background-color: transparent;
}

.jumbotron h2, h6 {
    color: white;
    font-weight: bold;
    }

.jumbotron h1 {
    color: #ffcd00;
    font-weight: bold;
    font-size: 80px;
    }
 
.display-4 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        color: white;
    }
    
.innovate h1 {
        color: #ffcd00;
        font-weight: bold;
        text-align:center;
    }
    


/* 
============================================================================================
This is for the Jumbotron buttons  
============================================================================================
*/  

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 260px;
    }

.btn--yellow {
    color: black;
    background-color: #ffcd00;
    border-color: #ffcd00;
}

.btn--yellow:hover,
.btn--yellow:active,
.btn--yellow:focus,
.btn--yellow:active:focus {
    background-color: #edc938;
    border-color: #edc938;
    color: black;
}

/*
============================================================================================
This is the CSS control for the Who We Are section 
============================================================================================
*/ 
 
.img-fluid {
    max-width: 90%;
    height: auto;
    
    } 
 
.aboutus-text {
    text-align:left;
    margin: 20px 15px 20px 15px;
    
    } 
 
.aboutus-text h5 {
    color: #ffcd00;
 }
    
.clients .img-fluid {
   padding: 15px 15px 15px 15px;
   margin-bottom: 30px;
   } 
   
whoweare-image2 .img {
   margin: 20px 0 0 0;
   }
   
.whoweare-image2 p {
   margin-bottom: 0;
 }   


/*
============================================================================================
This is the CSS control for the Let Us Help You section 
============================================================================================
*/ 

 .fixed-img {
    height: 100vh;

    background: url('../../assets/images/work-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    }


.jumbotron-fluid {
    padding: 2rem 1rem;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    border-radius: .3rem;
} 

.fixed-img .row {
    background-color: transparent;
}

.fixed-img h1 {
    color: #ffcd00;
    font-weight: bold;
    text-align:center;
}

.jumbotron-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
}

.col-12 {
    margin-top: 180px;
    /*margin-bottom: 120px;*/
 }


/* 
============================================================================================
This is for the next project banner  
============================================================================================
*/ 

.banner_advert .row {
    Background-color: #525252;
    }

.banner-advert {
    Background-color: #525252;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding: 20px;
    }

/*
============================================================================================
This is the CSS control for the Yellow Bar section 
============================================================================================
*/  
 

.yellowbar {
    background-color: #ffcd00;
    Padding: 10px; 
    }

.yellowbar .row {
   background-color: #ffcd00;
   color: #525252;
   }
 
.yellowbar p {
    margin-top: 0;
    margin-bottom: 0rem;
    font-size: 20px;
    } 
 
.yellowbar .img-fluid {
    max-width: 90%;
    height: auto;
    padding-right: 10px;
    margin-top: 20px;
    } 


    /*
============================================================================================
This is the CSS control for the Footer section 
============================================================================================
*/  
 

footer {
    background-color: #31353d;
    color: #fafafa;
    min-height: 120px;
    margin: 0; 
   }

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ffcd00;
}

#footer-details {
    padding: 20px;
   }

.general-sub-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #ffcd00;
}

.footer-email {
    margin-bottom: 20px;
 }

.footernav {
    background-color: #525252; 
   }